.input-text-container {

    
    max-width: 300px;

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .input-area {
        position: relative;
    }

    input {
        width: 100%;
        box-sizing: border-box;
        border:0;
        border-radius:4px;
        padding:8px 50px 8px 15px;
    }

    .icon {
        position: absolute;
        max-width: 17px;

        top:0;
        bottom:0;
        right: 20px;
        margin: auto;
    }

}