.header-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin-bottom: 45px;


    @media only screen and (max-width: 768px){
        .user-information {
            span {
                display: block;
            }
        }
    }

}